@charset "UTF-8";

@mixin fts($fts, $lin: 24) {
  $rem: $fts / 10;
  $linS: $lin / $fts;
  font-size: #{$fts}px;
  font-size: #{$rem}rem;
  line-height: $linS;
}

@mixin circle($size) {
  position: absolute;
  top: $size;
  left: $size;
  -webkit-transform: translate(-$size, -$size);
  transform: translate(-$size, -$size);
}


$mq-breakpoints: (
  "xs": 320px,
  "s": 479px,
  "m": 767px,
  "l": 1023px,
  "xl": 1239px
);

@mixin mq($breakpoint: m, $rule: min, $subtraction: false) {
  $breakpoint: map_get($mq-breakpoints, $breakpoint);
  @if $rule == max and $subtraction {
    $breakpoint: $breakpoint - 1;
  }
  @media screen and (#{$rule}-width: $breakpoint) {
    @content;
  }
}

/*基本フォントファミリー*/
$font_main: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;

$font_title: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;

$col_base: #000000;
$col_white: #ffffff;

$col_red: #ea9896;

$col_gray: #cccccc;
$col_light_gray: #f4f4f6;

$col_blue: #233429;
$col_light_green: #749132;

$col_yellow: #d4c27d;
$col_light_yellow: #faf7ec;

/* -----------------------------------------------------------------
bese
----------------------------------------------------------------- */
html {
  font-size: 62.5%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  @include fts(16);
  @include mq(m, max) {
    @include fts(14);
  }
  font-family: $font_main;
  color: $col_base;
  position: relative;
  text-align: justify;
}
body,
#wrap,
#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}
body.home,
body.home #wrap,
body.home #container {
  display: block;
          flex-direction: column;
  min-height: 100vh;
  height: 100vh;
}
article {
  transition: opacity 1s;
}

#loader-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: $col_white;
  z-index: 999999999;
  #loader {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 48px;
    margin-left: -15px;
    text-align: center;
    z-index: 999999999;
  }
}
article,
button,
input,
select,
textarea,
div,
span,
p,
a,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  word-wrap: break-word;
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-style: normal;
  font-family: $font_main;
  letter-spacing: normal;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  text-decoration: none;
  outline: none;
  list-style: none;
  border: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  @include fts(16);
  @include mq(min, max) {
    @include fts(14);
  }
  font-feature-settings: "palt";
}

img {
  margin: 0 auto;
  padding: 0 0;
  height: auto;
  border: none;
  outline: none;
  border-style: none;
  vertical-align: bottom;
  background: transparent;
  -ms-interpolation-mode: bicubic;
  width: 100%;
}
a,
a:visited {
  cursor: pointer;
  color: $col_base;
  background: transparent;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
a:hover,
a:active {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  text-decoration: none;
}
a:focus {
  outline: none;
}
a,
input[type="submit"] {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
#company-phonenumber p{
  @include fts(14);
}

/* -----------------------------------------------------------------
contents
----------------------------------------------------------------- */
#container {
  padding: 0 0px;
  width: auto;
}

/* -----------------------------------------------------------------
header
----------------------------------------------------------------- */
#header {
  .header_inner {
    position: relative;
  }

}
#header_top {
  background-color: $col_white;
  .header_inner {
    background-image: url("../images/common/main-top-01.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
    z-index: 995;
    @include mq(s, max) {
      background-image: url("../images/common/main-top-sp.png");
    }
  }
}
.navigation {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: $col_blue;
  height: 90px;
  box-shadow: 0px 0px 4px 0px $col_gray;
  @include mq(m, max) {
    height: 74px;
  }
  .logo a {
    background-image: url("../images/common/main_logo.svg");
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 187px;
    height: 64px;
    display: block;
    z-index: 99999;
    position: relative;
    text-indent: -999999px;
    margin-left: 20px;
    @include mq(m, max) {
      width: 160px;
      margin-left: 20px;
    }
  }
  .nav-wrap {
    &.open {
      display: block;
    }
    &.close {
      display: none;
    }
    @include mq(m) {
      display: block !important;
    }
    @include mq(m, max) {
      position: fixed;
      left: 0;
      top: 0;
      display: none;
      z-index: 10;
      background-color: rgba(30, 44, 82, 0.94);
      width: 100%;
      height: 100%;
    }
    .menu {
      margin-right: 0px;
      height: 90px;
      @include mq(l, max) {
        margin-right: 0px;
      }
      @include mq(m, max) {
        margin-right: 0px;
        margin-top: 80px;
        height: 100%;
        position: relative;
        overflow-x: hidden;
        overflow-y: auto;
      }
      li {
        margin-right: 0px;
        padding: 0;
        display: inline-block;
        background: none !important;
        @include mq(m, max) {
          display: block;
          width: 100%;
        }
        a {
          color: $col_white;
          display: block;
          margin: 0 10px;
          font-family: $font_title;
          @include fts(14, 90);
          &:hover {
            color: $col_yellow;
          }
          @include mq(l, max) {
            margin: 0 4px;
          }
          @include mq(m, max) {
            margin: 0 2px;
            display: block;
            text-align: center;
            height: auto;
            color: $col_white;
            padding: 10px 0;
            width: 100% !important;
            background: none !important;
            text-indent: 0;
            @include fts(14, 30);
          }
        }
      }
      .header-tel a{
        background-image: url("../images/common/header-tell-icon.png");
        background-repeat: no-repeat;
        background-color: $col_white;
        background-position: 20px center;
        background-size: 26px;
        margin-right: 0 !important;
        color:$col_base !important;
        padding: 0 20px 0 60px;
        @include fts(22, 90);
        @include mq(l, max) {
          text-indent: -99999px;
          background-position: center center;
        }
        @include mq(m, max) {
          color:$col_white !important;
          text-indent: 0;
          padding: 0 0px 0 0px;
          @include fts(18, 38);
        }
        @include mq(s, max) {
          display:none;
        }
        
        &:hover{
          opacity: 0.9;
        }
      }
      .header-tell-sp{
        display:none;
        @include mq(s, max) {
          display:block;
        }
      }
    }
  }
  .nav-button {
    display: none;
    @include mq(m, max) {
      cursor: pointer;
      display: inline-block;
      transition: all 0.4s;
      box-sizing: border-box;
      z-index: 20;
      position: absolute;
      width: 26px;
      height: 20px;
      right: 24px;
      top: 28px;
      span {
        display: inline-block;
        transition: all 0.4s;
        box-sizing: border-box;
        position: absolute;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: $col_white;
        border-radius: 4px;
        &:nth-of-type(1) {
          top: 0;
        }
        &:nth-of-type(2) {
          top: 8px;
        }
        &:nth-of-type(3) {
          bottom: 0;
        }
      }
      &.active span:nth-of-type(1) {
        transform: translateY(8px) rotate(-40deg);
      }
      &.active span:nth-of-type(2) {
        opacity: 0;
      }
      &.active span:nth-of-type(3) {
        transform: translateY(-8px) rotate(40deg);
      }
    }
  }
}

.header_inner{
  display: table;
  width: 100%;
}

.top_mainvisual_phrase{
  display:table-cell;
  vertical-align: middle;
  text-align: center;
  .toppage_mainvisual_phrase_niwa{
    width:788px;
    @include mq(s, max) {
      display:none;
    }
  }
}

.toppage_mainvisual_phrase_niwa_sp{
  display:none;
  @include mq(s, max) {
    display: block;
    width:33px;
  }
} 





  

/* -----------------------------------------------------------------
footer
----------------------------------------------------------------- */
#footer {
  margin-top: auto;
  position: relative;
  .site-info-top{
    background-color:#233429;
    padding: 50px 40px;
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    @include mq(s, max) {
      display: block;
      padding: 30px 20px;
    }
    .corporate-logo-footer{
      text-align: right;
      width: 100%;
      @include mq(s, max) {
        text-align: center;
      }
        a{
        img{
          max-width: 300px;
          @include mq(s, max) {
            max-width: 160px;
          }
        }
      }
    }
    .sns-logos{
      width: 100%;
      @include mq(s, max) {
        text-align: center;
        margin-top: 20px;
      }
      a{
        img{
          width: 34px;
          @include mq(s, max) {
            width: 24px;
          }
        }
      }
      .instapinevillage{
        margin-right: 30px;
        display: inline-block;
        @include mq(s, max) {
          margin-right: 20px;
        }
      }
      .facebookpinevillage{
        display: inline-block;
      }
    }

  }
  .site-info {
    width: 100%;
    text-align: center;
    padding: 20px 0;
    background: $col_base;
    color: $col_white;
    @include fts(10);
    line-height: 16px;
    @include mq(s, max) {
      @include fts(8);   
    }
  }
  .pagetop a {
    position: fixed;
    bottom: 220px;
    right: 40px;
    width: 60px;
    @include fts(22);
    line-height: 60px;
    background: $col_blue;
    color: $col_white;
    border-radius: 100px;
    text-align: center;
    &:hover{
      color: $col_yellow;
    }
    @include mq(s, max) {
      position: absolute;
      bottom: auto;
      @include fts(18);
      line-height: 50px;
      width: 50px;
      top: -70px;
      right: 22px;
      display: block;
    }
  }
}

/* -----------------------------------------------------------------
contents_base
----------------------------------------------------------------- */

#top_main {
  width: 100% !important;
  padding: 0 !important;
  margin: 7vh 0 0 0 !important;
  position: relative;
  h2 {
    margin: 0 auto 60px;
    @include fts(24);
    padding:12px 0;
    font-family: $font_title;
    color: $col_blue;
    line-height: 34px;
    max-width: 230px;
    border-top:1px solid $col_blue ;
    border-bottom:1px solid $col_blue ;
  }
  article {
    .inner {
      width: 100%;
      max-width: 1000px;
      margin: 0 auto;
      padding: 100px 0px 120px;
      @include mq(m, max) {
        padding: 60px 40px 100px;
      }
      @include mq(s, max) {
        padding: 60px 20px 70px;
      }
    }
  }
}
#main {
  width: 100% !important;
  padding: 0 !important;
  margin: 0 !important;
  padding-top: 0px !important;
  position: relative;
  article {
    .inner {
      width: 100%;
      margin: 0 auto;
      padding: 100px 0px 120px;
      @include mq(m, max) {
        padding: 60px 0px 100px;
      }
      @include mq(s, max) {
        padding: 60px 0px 70px;
      }
    }
  }
}

article {
  .flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  h1,
  h2,
  h3,
  h4 {
    width: 100%;
    text-align: center;
  }
}
.more {
  width: 100%;
  text-align: center;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_40 {
  margin-bottom: 40px;
}
.mb_80 {
  margin-bottom: 80px;
}
a.btn_pri,
input[type="submit"] {
  display: block;
  max-width: 200px;
  margin: auto;
  padding: 14px 10px 10px;
  color: $col_white;
  border: 2px solid $col_blue;
  font-family: $font_title;
  background: $col_blue;
  &:hover,
  &:active{
    color: $col_yellow;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 1;
  }
  @include mq(s, max) {
    max-width: auto;
    padding: 10px 8px 8px;
  }
}
input[type="submit"]:hover{
  color: $col_yellow !important;
}
.br_txt {
  display: inline;
  @include mq(m, max) {
    display: none;
  }
}


/*--------------------------------------------------------------
## contact
--------------------------------------------------------------*/
.contact {
  padding-bottom: 100px;
}

fieldset {
  border: none;
}
input,
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: middle;
  background: $col_white;
}
label {
  margin: 0;
  padding: 0;
  font-family: inherit;
  vertical-align: middle;
  cursor: pointer;
}
textarea {
  overflow: auto;
  line-height: 220%;
  padding: 0 10px;
  border: 1px solid $col_yellow;
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="tel"],
select {
  line-height: 220%;
  padding: 0 10px;
  border: 1px solid $col_yellow;
  width: 100%;
  max-width: 400px;
  height: 38px;
}
input[type="radio"],
input[type="checkbox"] {
  position: relative;
  margin: 0px 5px 2px 0px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {
  border: 1px solid $col_yellow;
  outline: none;
  background: $col_light_yellow;
}
input[type="text"].error,
input[type="email"].error,
input[type="tel"].error,
textarea.error,
select.error {
  border: 1px solid $col_red;
  outline: none;
  background: #f3f7f9;
}
input:before,
textarea:before,
select:before {
  background: #f3f7f9 !important;
  color: #666;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: $col_light_gray;
  font-weight: normal;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: $col_light_gray;
  font-weight: normal;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: $col_light_gray;
  font-weight: normal;
}
.contact_form {
  width: 100%;
  overflow: hidden;
  display: block;
}
.contact_form p {
  margin: 0px;
  padding: 0px;
}
.contact_form dl {
  overflow: hidden;
  display: block;
}
.contact_form dt {
  float: left;
  width: 200px;
  overflow: hidden;
  clear: both;
  display: table;
  vertical-align: middle;
  margin-top: 25px;
  font-weight: normal;
  text-align: left;
}
.contact_form dd {
  padding-left: 200px;
  margin: 0;
  margin-top: 20px;
  padding-bottom: 20px;
  text-align: left;
}
.submit {
  text-align: center;
  margin: 40px auto 0;
}
@media screen and (max-width: 480px) {
  .contact_form dt {
    float: none;
    width: 100%;
    overflow: hidden;
    clear: both;
    display: block;
    margin-top: 20px;
    font-weight: normal;
    text-align: left;
  }
  .contact_form dd {
    padding: 0px;
    margin: 0;
  }
}
div.wpcf7-mail-sent-ok,
div.wpcf7-mail-sent-ng,
div.wpcf7-validation-errors {
  border: dashed 2px $col_red;
}
div.wpcf7-response-output {
  margin: 0 !important;
  padding: 40px !important;
}
.submit a,
.submit input[type="submit"] {
  display: block;
  max-width: 200px;
  margin: auto;
  width: 100%;
  padding: 14px 10px 10px;
  color: $col_blue;
  border-radius: 50px;
  @include fts(16);
  border: 2px solid $col_blue;
  @include mq(s, max) {
    @include fts(14);
    max-width: auto;
    padding: 10px 8px 8px;
  }
}
.red {
  color: $col_red;
}
/* -----------------------------------------------------------------
archives
----------------------------------------------------------------- */
.blog #primary article.post,
.search-results article,
.archive article {
  border-bottom: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}
.page {
  .box {
    margin-bottom: 60px;
    figure {
      padding: 0;
      margin: 10px 0;
    }
    h2,
    h3,
    h4,
    h5 {
      text-align: left;
      font-weight: bold;
      border-left: 3px solid $col_gray;
      padding-left: 5px;
      margin-top: 20px !important;
      display: block;
    }
    h2 {
      @include fts(20);
      @include mq(s, max) {
        @include fts(18);
        line-height: 1.2;
      }
    }
    h3 {
      @include fts(18);
      @include mq(s, max) {
        @include fts(16);
        line-height: 1.2;
      }
    }
    h4 {
      @include fts(16);
      @include mq(s, max) {
        @include fts(14);
        line-height: 1.2;
      }
    }
    h5 {
      @include fts(16);
      color: $col_gray;
      @include mq(s, max) {
        @include fts(14);
        line-height: 1.2;
      }
    }
    .cont {
      .ttl {
        @include fts(26);
        line-height: 1.8;
        font-weight: bold;
        display: block;
        padding-left: 50px;
        padding-bottom: 10px;
        border-bottom: 4px solid $col_light_gray;
        margin-bottom: 10px !important;
        text-align: left;
        background-image: url("../images/common/morifujien_logo2.svg");
        background-position: 0 0;
        background-size: 40px;
        background-repeat: no-repeat;
        color: $col_blue;
        @include mq(s, max) {
          @include fts(20);
          line-height: 1.6;
          background-size: 30px;
          padding-left: 45px;
        }
      }
      .date {
        @include fts(14);
        color: $col_blue;
        display: block;
        margin:0 5px 10px;
      }
      .image {
        margin-bottom: 18px;
      }
      .txt{
        margin: 0 5px 10px;
      }
    }
  }
  .nav-below {
    padding-top: 20px;
    border-top: 2px dotted $col_light_gray;
    width: 100%;
    position: relative;
    overflow: hidden;
    .nav-previous {
      float: right;
      text-align: right;
    }
  }
}

/*********pageナビ*********/
.pagenavi {
  width: 100%;
  left: 0;
  line-height: 24px;
  text-align: center;
  clear: both;
  padding-bottom: 40px;
  a.page-numbers,
  .current {
    padding: 10px 16px;
    border: solid 1px $col_blue;
    text-decoration: none;
    @include fts(14);
  }
  a.page-numbers:hover {
    color: $col_yellow;
    background: $col_blue;
  }
  .current {
    color: $col_yellow;
    background: $col_blue;
    border-color: $col_blue;
    font-weight: bold;
  }
  .next,
  .prev {
    border: 0 none;
    background: transparent;
    font-weight: bold;
  }
}

/* -----------------------------------------------------------------
page
----------------------------------------------------------------- */
.main-img {
  margin-bottom: 60px;
  @include mq(m, max) {
    margin-bottom: 40px;
  }
  @include mq(s, max) {
    margin-bottom: 20px;
  }
}
.elementor-widget-text-editor {
  color: #444444 !important;
  font-family: $font_main !important;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  line-height: 1.5 !important;
  @include mq(m, max) {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.71429 !important;
    }
}
.explain{
  color: #444444 !important;
  font-family: $font_main !important;
  font-size: 16px !important;
  font-size: 1.6rem !important;
  line-height: 1.5 !important;
  @include mq(m, max) {
    font-size: 14px !important;
    font-size: 1.4rem !important;
    line-height: 1.71429 !important;
    }
}

.top_company{
  text-align: center;
  .top_company_tel,
  .top_company_fax {
    margin: auto;
    width: 240px;
    background-position: left center;
    background-size: 44px 44px;
    background-repeat: no-repeat;
    padding-left: 64px;
    text-align: left;
    @include fts(14,20);
    span{
      display: block;
      @include fts(28,34);
    }
  }

  .top_company_tel{
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201122%201122%22%20style%3D%22enable-background%3Anew%200%200%201122%201122%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23040000%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M812.84%2C693.04l-33.09-29.93c-18.01-16.28-41.27-25.25-65.48-25.25c-27.56%2C0-53.97%2C11.72-72.46%2C32.16%20l-19.6%2C21.68c-7.22%2C7.97-13.03%2C16.99-17.26%2C26.82l-2.27%2C5.26l-5.28-2.22c-79.07-33.25-144.72-93.34-184.86-169.2l-2.99-5.65%20l5.92-2.41c13.51-5.49%2C25.85-14.13%2C35.69-25l19.6-21.66c17.5-19.36%2C26.42-44.37%2C25.1-70.43c-1.29-26.04-12.66-50.03-32.02-67.54%20l-33.09-29.9c-18-16.28-41.25-25.24-65.48-25.24c-27.58%2C0-54%2C11.71-72.47%2C32.13l-19.6%2C21.7c-2.59%2C2.86-5.03%2C5.91-7.25%2C9.06%20l-0.39%2C0.55l-0.51%2C0.45c-20.32%2C17.98-36.51%2C58.35-26.9%2C108c42.75%2C222.69%2C230.35%2C392.37%2C456.21%2C412.63%20c4.7%2C0.43%2C9.46%2C0.64%2C14.14%2C0.64c25.41%2C0%2C48.82-6.13%2C67.69-17.73l0.13-0.08c9.01-5.21%2C17.03-11.68%2C23.82-19.22l19.61-21.69%20C855.87%2C791.04%2C852.77%2C729.16%2C812.84%2C693.04z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M576.67%2C232.31c-12.07%2C0-21.9%2C9.82-21.9%2C21.9c0%2C12.06%2C9.82%2C21.87%2C21.9%2C21.87%20c146.82%2C0%2C266.27%2C119.45%2C266.27%2C266.28c0%2C12.06%2C9.82%2C21.87%2C21.88%2C21.87c12.06%2C0%2C21.87-9.81%2C21.87-21.87%20C886.69%2C371.4%2C747.62%2C232.31%2C576.67%2C232.31z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M740.09%2C545.75c0%2C12.07%2C9.82%2C21.88%2C21.9%2C21.88c12.07%2C0%2C21.88-9.82%2C21.88-21.88%20c0-116.12-94.48-210.59-210.61-210.59c-12.06%2C0-21.87%2C9.81-21.87%2C21.87c0%2C12.07%2C9.81%2C21.89%2C21.87%2C21.89%20C665.25%2C378.92%2C740.09%2C453.76%2C740.09%2C545.75z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M560.61%2C30.5C269.13%2C30.37%2C28.51%2C271.3%2C30.22%2C561.58C31.96%2C856.04%2C268.35%2C1092%2C561.1%2C1091.5%20c293.21-0.5%2C530.31-237.45%2C530.69-530.35C1092.16%2C269.96%2C852.6%2C30.64%2C560.61%2C30.5z%20M559.61%2C1048.09%20c-268.57-0.96-485.81-219.43-485.12-487.87C75.18%2C291.45%2C292.78%2C75.09%2C562.12%2C75.38c268.63%2C0.29%2C484.85%2C217.51%2C485.06%2C487.31%20C1047.38%2C830.12%2C827.48%2C1049.05%2C559.61%2C1048.09z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
  }
  .top_company_fax {
    background-image: url('data:image/svg+xml;charset=utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22utf-8%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%201122%201122%22%20style%3D%22enable-background%3Anew%200%200%201122%201122%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%20.st0%7Bfill%3A%23040000%3B%7D%3C%2Fstyle%3E%3Cg%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M828.5%2C393.4c-13.5-0.2-27.1%2C0-42.3%2C0c0-8.5%2C0-15%2C0-21.4c0-39.4%2C0.2-78.9-0.1-118.3c-0.1-19.9-7.2-27-27-27%20c-132.1-0.1-264.1-0.1-396.2%2C0c-19.8%2C0-26.9%2C7.1-27%2C27c-0.3%2C40-0.1%2C80.1-0.1%2C120.1c0%2C6.3%2C0%2C12.5%2C0%2C19.6c-14.9%2C0-26.8-0.1-38.7%2C0%20c-45.2%2C0.3-70.4%2C24.7-70.5%2C69.4c-0.2%2C72.9-0.2%2C145.8%2C0.1%2C218.7c0.2%2C42.8%2C25.1%2C67.2%2C68.2%2C67.9c13%2C0.2%2C26%2C0%2C40.9%2C0%20c0%2C38.9%2C0%2C75.8%2C0%2C112.7c0%2C28.3%2C5%2C33.3%2C33.4%2C33.3c127.9%2C0%2C255.7%2C0%2C383.6%2C0c28.3%2C0%2C33.3-5%2C33.4-33.3c0-36.9%2C0-73.8%2C0-112.8%20c16.8%2C0%2C31.6%2C0.5%2C46.3-0.1c37.8-1.7%2C62.5-26.5%2C62.8-64.1c0.5-75.3%2C0.5-150.6%2C0.1-225.9C895.1%2C418.9%2C869.2%2C394.1%2C828.5%2C393.4z%20M379.2%2C269.4c120.6%2C0%2C241.4%2C0%2C363.4%2C0c0%2C40.4%2C0%2C80.7%2C0%2C123.1c-121.4%2C0-241.8%2C0-363.4%2C0C379.2%2C351.6%2C379.2%2C311.3%2C379.2%2C269.4z%20M742.8%2C853.2c-121.7%2C0-242.1%2C0-363.6%2C0c0-83%2C0-165.1%2C0-248.6c120.9%2C0%2C241.7%2C0%2C363.6%2C0C742.8%2C686.9%2C742.8%2C769.1%2C742.8%2C853.2z%20M853.9%2C683.7c0%2C13-6.4%2C22.4-19.8%2C23.4c-15.3%2C1.1-30.7%2C0.3-47.9%2C0.3c0-38.6%2C0-75.5%2C0-112.4c0-28.5-5.3-34-32.9-34%20c-128.4%2C0-256.8%2C0-385.3%2C0c-26.5%2C0-32.1%2C5.8-32.2%2C32.8c-0.1%2C35.8-0.1%2C71.7-0.3%2C107.5c0%2C1.2-0.5%2C2.3-1.4%2C5.9%20c-15.2%2C0-31.1%2C0.9-46.9-0.3c-12.5-0.9-19-10-19.1-22.1c-0.2-75.3-0.3-150.5%2C0-225.8c0.1-15.9%2C9.2-23.5%2C25.3-23.5%20c178.6%2C0.1%2C357.2%2C0.1%2C535.8%2C0c16.3%2C0%2C24.6%2C8.4%2C24.7%2C24.1C854.1%2C534.4%2C854%2C609%2C853.9%2C683.7z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M448.3%2C687c38.2-0.3%2C76.4-0.1%2C114.5-0.1c37%2C0%2C74%2C0.1%2C111%2C0c19.5%2C0%2C29.3-7.1%2C28.4-21.3%20c-1.1-17.2-12.9-20.8-27.6-20.7c-75.2%2C0.1-150.3%2C0-225.5%2C0.1c-19.4%2C0-29.2%2C7.5-28.4%2C21.6C421.8%2C683.8%2C433.5%2C687.1%2C448.3%2C687z%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M674.8%2C728.8c-75.7%2C0.3-151.5%2C0.1-227.2%2C0.2c-18.2%2C0-27.5%2C7.2-26.9%2C20.9c0.8%2C17.5%2C12.7%2C20.8%2C27.4%2C20.7%20c37.6-0.2%2C75.1-0.1%2C112.7-0.1c38.2%2C0%2C76.3%2C0.1%2C114.5-0.1c18.2-0.1%2C27.8-7.4%2C27-21C701.2%2C732.4%2C689.9%2C728.7%2C674.8%2C728.8z%22%2F%3E%20%3Cellipse%20transform%3D%22matrix(0.3827%20-0.9239%200.9239%200.3827%2027.9374%201038.3674)%22%20class%3D%22st0%22%20cx%3D%22791%22%20cy%3D%22498.3%22%20rx%3D%2220.4%22%20ry%3D%2220.4%22%2F%3E%20%3Cpath%20class%3D%22st0%22%20d%3D%22M560.6%2C30.5C269.1%2C30.4%2C28.5%2C271.3%2C30.2%2C561.6C32%2C856%2C268.4%2C1092%2C561.1%2C1091.5%20c293.2-0.5%2C530.3-237.4%2C530.7-530.4C1092.2%2C270%2C852.6%2C30.6%2C560.6%2C30.5z%20M559.6%2C1048.1c-268.6-1-485.8-219.4-485.1-487.9%20C75.2%2C291.5%2C292.8%2C75.1%2C562.1%2C75.4c268.6%2C0.3%2C484.8%2C217.5%2C485.1%2C487.3C1047.4%2C830.1%2C827.5%2C1049%2C559.6%2C1048.1z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    margin-top: 20px;
  }
}
.elementor-element-a39b507{
  padding-left: 30px;
  @include mq(l, max) {
    padding-left: 20px;
  }
  @include mq(m, max) {
    padding-left: 0px;
  }
}
 /* -----------------------------------------------------------------
kono
----------------------------------------------------------------- */
/*-------- 固定頁追加css --------*/

input[type="text"], input[type="email"], input[type="tel"], select {
  max-width: 100% !important;
}


/*-------- navi css --------*/



/*-------- inner css --------*/

#main article .inner {
  padding: 0;
}

.inner .page_content .elementor-117 .elementor-inner .elementor-section-wrap .elementor-section-items-middle{
  margin-top: 74px;
}

.inner .page_content .elementor-113 .elementor-inner .elementor-section-wrap .elementor-element-07ca8d8{
  margin-top: 74px;
}

.inner .page_content .elementor-247 .elementor-inner .elementor-section-wrap .elementor-section-items-middle{
  margin-top: 74px;
}

.inner .page_content .elementor-2 .elementor-inner .elementor-section-wrap .elementor-section-items-middle{
  margin-top: 74px;
}
/*-------- pc top ご挨拶 css --------*/

.title-text .elementor-widget-container .elementor-text-editor {
  line-height: 33px;
}

.elementor-26 .elementor-element.elementor-element-18735ec .elementor-heading-title {
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.title-text .elementor-widget-container .elementor-text-editor {
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

/*-------- top お知らせ css --------*/

.facebook-wrapper {
  max-width: 500px; /* Facebook Page Plugin の最大幅 */
  margin: 0 auto;
}

.facebook-wrapper > .fb-page {
  width: 100%;
}

.facebook-wrapper > .fb-page > span,
.facebook-wrapper iframe {
  width: 100% !important;
}

.facebooknews .facebook-wrapper{
  margin:0;
}

.facebook-wrapper {
  margin:0;
}

/*-------- top お約束 css --------*/

.promise-one .elementor-text-editor p{
  line-height: 33px;
}

.promise-two .elementor-text-editor p{
  line-height: 33px;
}

.promise-three .elementor-text-editor p{
  line-height: 33px;
}

.service-text .elementor-text-editor p{
  line-height: 33px;
}

.construction-text .elementor-text-editor p{
  line-height: 33px;
}

.elementor-widget-text-editor p{
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
  line-height: 33px;
}

/*-------- top サービス紹介 css --------*/

.service-pc-text-one p{
  line-height: 33px;
}

.service-pc-text-two p{
  line-height: 33px;
}

.service-pc-text-three p{
  line-height: 33px;
}

.service-pc-text-four p{
  line-height: 33px;
}

.service-pc-text-five p{
  line-height: 33px;
}

.service-pc-text-six p{
  line-height: 33px;
}

.service-pc-text-one-align{
  text-align: center;
}

.service-pc-text-two-align{
  text-align: center;
}

.service-pc-text-three-align{
  text-align: center;
}

.service-pc-text-four-align{
  text-align: center;
}

.service-pc-text-five-align{
  text-align: center;
}

.service-pc-text-six-align{
  text-align: center;
}
/*-------- top 求人 css --------*/

.hire-text .elementor-text-editor p{
  line-height: 33px;
  color:white;
}

.elementor-section-wrap .hire-background{
  height:382px;
}

/*-------- top 会社案内 css --------*/

.introcompany-subtitle .elementor-text-editor p{
  font-size: 22px;
}

.compinfo-tell .elementor-icon-box-title span {
  display: block;
  text-align: left;
  font-size:14px;
}

.compinfo-fax .elementor-icon-box-title span {
  display: block;
  text-align: left;
  font-size:14px;
}

.compinfo-tell {
  position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
}
.compinfo-tell .elementor-icon-box-wrapper {
  width: 50%;
    height: 50%;
    top: 25%;
    margin: 0 auto;
    position: relative;
}

.compinfo-fax {
  position:fixed;
    top:0;
    left:0;
    width:100%;
    height:80px;
}
.compinfo-fax .elementor-icon-box-wrapper {
  width: 50%;
    height: 50%;
    top: 25%;
    margin: 0 auto;
    position: relative;
}

.compinfo-tell .elementor-icon-box-content {
  height:52px;
}

.compinfo-fax .elementor-icon-box-content {
  height:52px;
}

.compinfo-tell .elementor-icon-box-description a{
  font-size: 28px;
}

.elementor-element-a39b507 {
  padding-left: 20px;
}

.introcompany-subtitle .elementor-text-editor p {
  font-weight:bold;
}

.top_company .top_company_tel a{
  font-size:14px;
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.top_company .top_company_fax {
  font-size:14px;
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

/*-------- top Instagram css --------*/

.elementor-icon{
  margin-right: 20px;
  margin-top: 5px;
}

/*-------- ボタン css --------*/

.elementor-widget-button .elementor-button .elementor-button-text{
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
  font-size:14px;
}

.elementor-element-a39b507 .elementor-element-populated .elementor-widget-wrap .companyinfo-button .elementor-widget-container .elementor-button-wrapper .elementor-size-sm .elementor-button-content-wrapper .elementor-button-text{
  font-size:20px;
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

/*-------- お問い合わせPG css --------*/

.contact-text-attention{
  color:red;
}

.elementor-section-height-default .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-heading-title{
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.nf-form-fields-required{
  display:none;
}

.elementor-widget-htmega-ninjaform-addons .nf-field-label label{
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.nf-form-title h3{
  display:none;
}

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .contact-form .elementor-widget-container .nf-form-cont .ninja-forms-form-wrap .nf-form-layout .nf-form-content .label-above .nf-field .firstname-wrap .nf-field-label{
  margin-bottom: 25px;    
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .contact-form .elementor-widget-container .nf-form-cont .ninja-forms-form-wrap .nf-form-layout .nf-form-content .label-above .nf-field .firstname-wrap .nf-field-label #nf-label-field-5, #nf-label-field-6, #nf-label-field-7, #nf-label-field-8, #nf-label-field-9, #nf-label-field-10 {
  font-size: 16px;   
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .contact-form .elementor-widget-container .nf-form-cont .ninja-forms-form-wrap .nf-form-layout .nf-form-content .label-above .nf-field .firstname-wrap .nf-field-label #nf-label-field-5 .ninja-forms-req-symbol{
  font-size: 16px;   
  font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
}


/*-------- sp top ご挨拶 css --------*/

@media screen and (max-width: 767px) {
  .title-text .elementor-widget-container .elementor-text-editor {
      font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
      font-size:14px;
      line-height:27px;
  }
}
/*-------- sp 固定頁追加css --------*/

@media screen and (max-width: 767px) {
  .elementor-widget-text-editor p {
      font-size:14px;
      line-height:27px;
  }
}

@media screen and (max-width: 767px) {
  .elementor-widget-text-editor p {
      font-size:14px;
      line-height:27px;
  }
}

@media screen and (max-width: 767px) {
  .elementor-widget-button .elementor-button .elementor-button-text {
    font-size:13px;
  }
}

@media screen and (max-width: 767px) {
  .elementor-2 .elementor-element.elementor-element-db50c35 .elementor-text-editor {
    font-size: 1.4rem;
    line-height: 27px;
  }
}

@media screen and (max-width: 767px){
  .elementor-widget-text-editor p {
    text-align:center;
  }
}
/*-------- sp top お約束 css --------*/
.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-one-icon-img {
  margin: 25px 0 25px 0px;
  width: 107px;
}
@media screen and (max-width: 767px) {
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-one-icon-img {
      margin: 25px 0 25px 0px;
      width: 68px;
  }
}
@media screen and (max-width: 767px) {
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-one-text {
      line-height:27px;
      margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .promise-one .elementor-widget-container {
      margin:0;
  }
}
@media screen and (max-width: 767px) {
  .promise-one-center{
      text-align:center;
  }
}

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-two-icon-img {
  margin: 25px 0 25px 0px;
  width: 107px;
}

@media screen and (max-width: 767px) {
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-two-icon-img {
      margin: 25px 0 25px 0px;
      width: 68px;
  }
}

@media screen and (max-width: 767px) {
  .promise-two-center{
      text-align:center;
  }
}

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-three-icon-img {
  margin: 25px 0 25px 0px;
  width: 107px;
}

@media screen and (max-width: 767px) {
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor .promise-three-icon-img {
      margin: 25px 0 25px 0px;
      width: 68px;
  }
}

@media screen and (max-width: 767px) {
  .promise-three-center{
      text-align:center;
  }
}

@media screen and (max-width: 767px) {
      .promise-one-secion2{
      display:flex;
  }
}

@media screen and (max-width: 767px) {
  .promise-one-icon2{
      width:22%;
      height:67px;
      display:table;
  }
    .promise-one-icon-background {
        display:table-cell;
        vertical-align: middle;
    }
}

@media screen and (max-width: 767px) {
  .promise-one-text2{
      width:44%;
      height:67px;
      display:table;
  }
      .promise-one-text2 {
          display:table-cell;
          vertical-align: middle;
      }
}

@media screen and (max-width: 767px) {
  .promise-one-text2-inner{
      font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
      font-size:14px;
      line-height:27px;
  }  
} 

img.promise-one-icon-inner{
  vertical-align: middle;
}

/*-------- sp top 求人情報 css --------*/

@media screen and (max-width: 767px) {
  .hire-text .elementor-text-editor p{
    line-height:27px;
  }  
} 

@media (max-width: 767px){
  .elementor-26 .elementor-element.elementor-element-25655c1.elementor-section {
     height: 195px;
  }
}

@media (max-width: 767px){
  .top_company .top_company_tel span, .top_company .top_company_fax span {
    font-size: 2.1rem;
    line-height: 1.21429;
  }
}

@media (max-width: 767px){
  .top_company .top_company_tel a {
    font-size: 13px;
  }
}

@media (max-width: 767px){
  .top_company .top_company_fax {
    font-size: 13px;
    font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
  }
}

@media (max-width: 767px){
  .top_company .top_company_fax {
    font-size: 13px;
    font-family: "Hiragino Mincho Pro","Times New Roman","YuMincho","Yu Mincho","MS PMincho",serif;
  }
}

/*-------- sp 施行事例 css --------*/

@media (max-width: 767px){
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .sample-second-background .elementor-widget-container {
    padding: 0;
  }
}

/*-------- pc&sp 施行事例 css --------*/

  .inner .page_content .elementor .elementor-inner .elementor-section-wrap .example-two {
    margin-top: 0;
  }

  .inner .page_content .elementor .elementor-inner .elementor-section-wrap .example-three {
    margin-top: 0;
  }

  .inner .page_content .elementor .elementor-inner .elementor-section-wrap .example-four {
    margin-top: 0;
  }

  .inner .page_content .elementor .elementor-inner .elementor-section-wrap .example-five {
    margin-top: 0;
  }

/*-------- sp 施行事例 css (Matsumura・会社名） --------*/

@media (max-width: 767px){
  .matsumura-info-name-title .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Matsumura・許可番号・加盟団体） --------*/

@media (max-width: 767px){
  .matsumura-info-registration .elementor-container .elementor-row .elementor-element-ad2d812 .elementor-column-wrap .elementor-widget-wrap .elementor-widget-container .elementor-clearfix p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Matsumura・tel） --------*/

@media (max-width: 767px){
  .elementor-section-items-middle .elementor-column-gap-default .elementor-row .elementor-element-b8e32eb .elementor-element-populated .matsumura-info-tel .elementor-container .elementor-row .elementor-element-c7db614 .elementor-element-populated .elementor-widget-wrap .elementor-widget-text-editor .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Matsumura・fax） --------*/

@media (max-width: 767px){
  .elementor-section-items-middle .elementor-column-gap-default .elementor-row .elementor-element-b8e32eb .elementor-element-populated .elementor-widget-wrap .matsumura-info-fax .elementor-container .elementor-row .elementor-element-ef6e52c .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Matsumura・adress） --------*/

@media (max-width: 767px){
  .elementor-section-items-middle .elementor-column-gap-default .elementor-row .elementor-element-b8e32eb .elementor-element-populated .elementor-widget-wrap .matsumura-info-address .elementor-container .elementor-row .elementor-element-4af70ac .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Matsumura・access） --------*/

@media (max-width: 767px){
  .elementor-section-items-middle .elementor-column-gap-default .elementor-row .elementor-element-b8e32eb .elementor-element-populated .elementor-widget-wrap .matsumura-info-access .elementor-container .elementor-row .elementor-element-c01e758 .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・name） --------*/

@media (max-width: 767px){
  .pinevillage-info-name .elementor-container .elementor-row .pinevillage-info-name-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・hours） --------*/

@media (max-width: 767px){
  .pinevillage-info-hours .elementor-container .elementor-row .pinevillage-info-hours-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・closed） --------*/

@media (max-width: 767px){
  .pinevillage-info-closed .elementor-container .elementor-row .pinevillage-info-closed-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・telfax） --------*/

@media (max-width: 767px){
  .pinevillage-info-telfax .elementor-container .elementor-row .pinevillage-info-telfax-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・hp） --------*/

@media (max-width: 767px){
  .pinevillage-info-hp .elementor-container .elementor-row .pinevillage-info-hp-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・address） --------*/

@media (max-width: 767px){
  .pinevillage-info-address .elementor-container .elementor-row .pinevillage-info-address-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css (Pinevillage・access） --------*/

@media (max-width: 767px){
  .pinevillage-info-access .elementor-container .elementor-row .pinevillage-info-access-title .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .elementor-text-editor p{
    font-weight: bold;
  }
}

/*-------- sp 施行事例 css --------*/ 

@media (max-width: 767px){
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .example-title {
    margin-bottom: 0px;
  }
}

/*-------- sp サービス紹介 css --------*/ 

@media (max-width: 767px){
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .service-text .elementor-widget-container .elementor-text-editor {
    line-height: 3.3rem;
  }
}

/*-------- pc top 会社概要 css --------*/ 

.elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .company-telfax .elementor-widget-container .top_company{
  margin-top:0;
}

.elementor-section-height-default .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .top_company .top_company_tel span{
  word-break: break-all;
  width: 184px;
}

.elementor-section-height-default .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-element .elementor-widget-container .top_company .top_company_fax span{
  word-break: break-all;
  width: 184px;
}

@media (min-width: 767px){
  .elementor-section .elementor-container .elementor-row .elementor-column .elementor-column-wrap .elementor-widget-wrap .elementor-section .elementor-container .elementor-row .elementor-column .elementor-widget-wrap .companyinfo-button-tel{
    display:none;
  }
}

/*-------- pc top お約束・設計 css --------*/ 


/*-------- pc top お約束・施工 css --------*/ 

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background .construction-icon-inner{
  width: 87px;
}

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background{
  text-align: center;
  padding:  50px 0 30px 0;
}

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two .promise-two-text2-inner{
  padding:0 60px 0 60px;
  line-height: 33px;
}


/*-------- sp top お約束・施工 css --------*/ 

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2{
    display:flex;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background .construction-icon-inner-one{
    width: 53px;
  }
}

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background .construction-icon-inner-one{
  width: 106px;
  @media (max-width: 767px){
      width:63px;
  }
}

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background .construction-icon-inner-two{
  width: 84px;
  @media (max-width: 767px){
      width: 53px;
   }
 }  

.promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background .construction-icon-inner-three{
  width: 105px;
  @media (max-width: 767px){
      width: 65px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2{
    width: 138px;
    display: table;
    height: 120px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two-icon2 .promise-two-icon-background{
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two {
    width: 191px;
    display: table;
    height: 120px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-two-section2 .promise-two .promise-two-text2-inner{
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px 0 0;
    font-size: 14px;
    line-height: 26px;
  }
}

.promise-one-icon-background{
  .construction-icon-inner{
    width:100px;
  }
}





/*-------- sp top お約束・設計 css --------*/ 

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2{
    display:flex;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2 .promise-two-icon2 .promise-two-icon-background .planning-icon-inner{
    width: 67px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2 .promise-two-icon2{
    width: 138px;
    display: table;
    height: 120px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2 .promise-two-icon2 .promise-two-icon-background{
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2 .promise-two {
    width: 191px;
    display: table;
    height: 120px;
  }
}

@media (max-width: 767px){
  .promises .elementor-container .elementor-row .promise-two .elementor-column-wrap .elementor-widget-wrap .promise-construction-icon .elementor-widget-container .promise-one-section2 .promise-two .promise-two-text2-inner{
    display: table-cell;
    vertical-align: middle;
    padding: 0 40px 0 0;
    font-size: 14px;
    line-height: 26px;
  }
}




















